@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --color-primary: #a855f7;
}

html {
    scroll-behavior: smooth;
}

/* Optional: Custom scrollbar for webkit */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #030712;
}

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
}